/* Header */
.mainLogo{
    padding-top: 10px;
    width: 360px;
    height: 90px;
}
.mainLogo:hover{
    background-color: whitesmoke;
}

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
  }
  .topnav a:hover {
    background-color: orange;
    color: whitesmoke;
  }

  .topnav a.active {
    background-color: #04AA6D;
    color: black;
  }

  /*dashboard*/
.recentProjectContainer{
    margin-top: 20px;
    box-shadow: 1px 1px 5px 5px gray;
    height: 93%;
    width: 500px;
    padding: 10px;
}

.recentProjectContainerAdminFreelancer{
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 5px 5px gray;
    height: 94%;
    width: 500px;
    padding: 10px;
}

.viewAllRecentProject{
    float: right;
}

.listRecentProject{
    margin-top: 5px;
    border-top: 1px solid black;
}

.personalInfo{
    margin-top: 20px;
    box-shadow: 1px 1px 5px 5px gray;
    height: 93%;
    width: 500px;
    padding: 3px;
    margin-left: 30px;
}

.tdPersonalInfo{
    vertical-align: top;
    height: 400px;
}

.tdPersonalInfoAdminFreelancer{
    vertical-align: top;
}

.personalInfoAdminFreelancer{
    margin-top: 20px;
    box-shadow: 1px 1px 5px 5px gray;
    height: 50%;
    width: 500px;
    padding: 3px;
    margin-left: 30px;
}

.infoUang{
    margin-top: 20px;
    box-shadow: 1px 1px 5px 5px gray;
    height: 41%;
    width: 95%;
    padding: 3px;
    margin-left: 30px;
}

/*Login*/
.bodyLogin{
    background-color: whitesmoke;
}

/*Register*/
